:root{
	--main-bg:#1e1e64;
	--header-font:"Pokemon Solid", sans-serif;
	--header-color:yellow;
	--header-border:1px blue;
	--principal-font:monospace;
	--dex-bg:red;
	--cam-bg:skyblue;
	--border-cam:3px solid #574e4e;
	--lights-border: 3px solid #665c5c;
	--light-one-bg: #77063d;
	--light-two-bg: yellow;
	--light-three-bg: green;
	--sprite-container-bg: lightgray;
	--display-bg: black;
	--font-color: white;
	--font-error-color:red;
	--shadows:gray;
	--bg-btns: #3b3838;
	--input-bg: #1cbd1c;
	--suggestion-bg: #328197;
	--suggestion-scroll-bg: #1e4d5c;
	--suggestions-scroll: #0f262e;
	--hover-suggestion: #7ee3ee;
	--progress-bg: #444444;
	--hp-bar-bg: linear-gradient(90deg, #4caf50, #81c784);
	--atk-bar-bg: linear-gradient(90deg, #b72121, #ea336a);
	--def-bar-bg: linear-gradient(90deg, #d2460e, #dd9519);
	--atkesp-bar-bg: linear-gradient(90deg, #8c4caf, #c074dd);
	--defesp-bar-bg: linear-gradient(90deg, #d8c941, #ecea97);
	--spd-bar-bg: linear-gradient(90deg, #0f75b4, #5bafdb);
	--normal-bg: #b7b7aa;
	--fire-bg: #ff6f52;
	--water-bg: #42a1ff;
	--electric-bg: #fecc33;
	--grass-bg: #78cc55;
	--ice-bg: #66ccfe;
	--fighting-bg: #d3887e;
	--poison-bg: #971f79;
	--ground-bg: #a38852;
	--flying-bg: #8899ff;
	--psychic-bg: #ff66a3;
	--bug-bg: #aabb23;
	--rock-bg: #baaa66;
	--ghost-bg: #9995d0;
	--dragon-bg: #9e93f1;
	--dark-bg: #323232;
	--steel-bg: #abaabb;
	--fairy-bg: #ed99ed;
	--light-one-blink: #d44281;
	--ligh-one-shadow: pink;
	--light-two-blink: #fafabf;
	--light-two-shadow: #fafabf;
	--light-three-blink: lightgreen;
	--ligh-three-shadow: #aee9ae;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	height: 100vh;
	width: 100%;
	background-color: var(--main-bg);
}
header {
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}
header h1 {
	font-family: var(--header-font);
	color: var(--header-color);
	-webkit-text-stroke: var(--header-border);
	font-weight: bold;
	font-size: 2rem;
}
main {
	height: 100vh;
	width: 100%;
}
.container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
	font-family: var(--principal-font);
}
/* Lil message for remember what have to do */
.msg {
	position: absolute;
	background-color: var(--header-color);
	height: 80px;
	width: 150px;
	text-align: center;
	padding: 15px;
	font-weight: bold;
	border-radius: 10px;
	top: 150px;
	left: 10%;
	transform: rotate(-10deg);
	z-index: 2;
}
/* General class for every pokedex displays  */
.pokedex {
	background-color: var(--dex-bg);
	border-radius: 10px;
	box-shadow: 0 0 10px var(--shadows);
}
/* Display larger that contains the img of the pokemon and the form */
.large {
	height: 500px;
	width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
/* Design for the camera above of the large dex */
.cam-container {
	height: 70px;
	width: 100%;
	position: relative;
}
.cam-section {
	height: 70px;
	width: 60%;
	position: absolute;
	background-color: var(--dex-bg);
	display: flex;
	justify-content: space-around;
}
.cam-section:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 100%;
	width: 4px;
	height: 30%;
	background: linear-gradient(to right, #000000, #00000000);
}
.cam-section::before{
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 3px;
	background: linear-gradient(to bottom, #000000, #00000000);
}
.cam {
	background-color: var(--cam-bg);
	border-radius: 50%;
	height: 40px;
	width: 40px;
	border: var(--border-cam);
	margin-top: 10px;
}
.lights-container {
	height: 100%;
	width: 50%;
	display: flex;
	justify-content: space-evenly;
}
.light {
	height: 15px;
	width: 15px;
	margin-top: 10px;
	border-radius: 50%;
	border: var(--lights-border);
}
.light:nth-child(1) {
	background-color: var(--light-one-bg);
}
.light:nth-child(2) {
	background-color: var(--light-two-bg);
}
.light:nth-child(3) {
	background-color: var(--light-three-bg);
}
.light:nth-child(1).animated {
	animation: blink-red 900ms infinite;
}
.light:nth-child(2).animated {
	animation: blink-yellow 1s infinite;
}
.light:nth-child(3).animated {
	animation: blink-green 1s infinite;
}
/* Lil div for form the camera section */
.cam-back {
	width: 100%;
	height: 50px;
	z-index: 1;
}
.cam-back::after{
	content: "";
	position: absolute;
	top: 70%;
	right: 0;
	width: 40%;
	height: 3px;
	background: linear-gradient(to bottom, #000000, #00000000);
}
/* container of the img on the center */
.img-container {
	height: 250px;
	width: 300px;
	background-color: var(--sprite-container-bg);
	margin: 30px auto;
	border-radius: 10px 10px 10px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 1;
}
/* lil screen where it will display the sprite */
.img-display {
	background-color: var(--display-bg);
	height: 200px;
	width: 250px;
	padding: 10px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 5px;
	color: var(--font-color);
	position: relative;;
}
#sprite {
	height: 180px;
	width: 180px;
	z-index: 100;
}
#error-img {
	height: 150px;
}
#error-msg {
	color: var(--font-error-color);
	font-size: 1.2rem;
	font-weight: bold;
}
.shiny-btn{
	color: var(--header-color);
	font-size: 1.5rem;
	position: absolute;
	background: transparent;
	outline: none;
	border: none;
	cursor: pointer;
	top: 32px;
	right: 32px;
	z-index: 1001;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	transition: all 0.3s ease;
}
.shiny-btn:hover{
	box-shadow: 0 1px 5px var(--shadows);
}
#sparkles-container{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: transparent;
	z-index: 1000;
}
.sparkle{
	position: absolute;
	height: 40px;
	width: 40px;
	color: var(--header-color);
	animation: sparkle 1s linear forwards;
	z-index: 1000;
}
.sparkle:first-of-type{
	top: 20px;
	left: 20px;
	animation-delay: 0.2s;
}
.sparkle:nth-of-type(2){
	top: 10px;
	right: 40%;
	animation-delay: 0.4s;
}
.sparkle:nth-of-type(3){
	bottom: 40px;
	left: 10px;
	animation-delay: 0.1s;
}
.sparkle:nth-of-type(4){
	bottom: 10px;
	right: 5px;
	animation-delay: 0.3s;
}
.sparkle:nth-of-type(5){
	top: 90%;
	left: 30%;
	animation-delay: 0.5s;
}

@keyframes sparkle {
    0% {
        transform: scale(0) rotate(0deg);
        opacity: 1;
    }
    50% {
        transform: scale(1) rotate(180deg);
        opacity: 0.8;
    }
    100% {
        transform: scale(0) rotate(360deg);
        opacity: 0;
    }
}

/* bottom part of the large dex where is the form */
.bottom-container {
	height: 100px;
	width: 100%;
	display: flex;
	border-radius: 10px;
}
form {
	display: flex;
	width: 70%;
	height: 100%;
	justify-content: center;
	align-items: center;
	gap: 15px;
	border-radius: 10px 0 0 10px;
	position: relative;
}
#search-button {
	width: 40px;
	height: 40px;
	background-color: var(--bg-btns);
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.3s ease;
	outline: none;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
	border: none;
	margin-bottom: 30px;
}
#search-button:hover {
	background-color: #424040;
}
#search-button:active {
	background-color: #3a3232;
	transform: translateY(4px);
	box-shadow: 0 2px 3px #00000080;
}
#search-input {
	height: 40px;
	border-radius: 10px;
	outline: none;
	border: none;
	background-color: var(--input-bg);
	color: var(--display-bg);
	padding: 10px;
	font-size: 0.9rem;
	font-family: var(--principal-font);
}
/* Suggestions of pokemons introduced on the input */
#pkmn-suggestions {
	position: absolute;
	top: 80%;
	left: 10%;
	background-color: var(--suggestion-bg);
	border-radius: 10px;
	width: 100%;
	z-index: 1;
	box-shadow: 0 0 10px var(--shadows);
	max-height: 200px;
	overflow-y: auto;
}
/* Style the scrollbar of suggestions */
#pkmn-suggestions::-webkit-scrollbar {
	width: 10px;
}
#pkmn-suggestions::-webkit-scrollbar-track {
	background-color: var(--suggestion-scroll-bg);
	border-radius: 10px;
}
#pkmn-suggestions::-webkit-scrollbar-thumb {
	background-color: var(--suggestions-scroll);
	border-radius: 10px;
}
/* If the suggestions container isn't empty generate a before */
#form:has(#pkmn-suggestions:not(:empty))::after {
	content: "";
	position: absolute;
	top: 65%;
	left: 50%;
	height: 20px;
	width: 20px;
	background-color: var(--suggestion-bg);
	box-shadow: 0 0 10px var(--shadows);
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.suggestion {
	padding: 10px;
	cursor: pointer;
	text-transform: capitalize;
	display: flex;
	justify-content: space-around;
	align-items: center;
	transition: all 0.3s ease-out;
	font-size: 1.1rem;
}

.suggestion:hover {
	background-color: var(--hover-suggestion);
}
.mini-sprite {
	height: 50px;
}
/* cross display */
.cross-container {
	height: 100%;
	width: 30%;
	border-radius: 0 0 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.cross-vert {
	height: 70px;
	width: 20px;
	background-color: var(--display-bg);
	position: absolute;
}
.cross-hor {
	height: 20px;
	width: 70px;
	background-color: var(--display-bg);
	position: absolute;
}
/* design for the little dex where display the info about the pkmn */
.lil {
	height: 450px;
	width: 300px;
	margin: 50px 0 0 10px;
	padding: 20px;
}
.name-and-id {
	height: 80px;
	width: 100%;
	background-color: var(--display-bg);
	border-radius: 10px;
	color: var(--font-color);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	font-size:1.5rem;
	gap: 60px;
}
.types {
	width: 100%;
	min-height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
.type {
	/* min-height:50px; */
	min-width: 70px;
	padding: 5px;
	border-radius: 7px;
	text-align: center;
	font: 1rem;
	text-transform: uppercase;
	color: var(--font-color);
}
.size {
	width: 100%;
	background-color: var(--display-bg);
	height: 50px;
	border-radius: 10px;
	color: var(--font-color);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.8rem;
	padding: 5px;
	gap: 10px;
}
.stats {
	height: 200px;
	width: 100%;
	background-color: var(--display-bg);
	margin-top: 20px;
	border-radius: 10px;
	color: var(--font-color);
	padding: 15px;
}
.stats-container {
	height: 150px;
	margin-top: 10px;
	width: 100%;
	font-size: 0.8rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.stat {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.progress-bar {
	width: 90px;
	height: 10px;
	border: none;
	border-radius: 15px;
	overflow: hidden;
	background-color: var(--progress-bg);
}

.progress-bar::-webkit-progress-bar {
	background-color: var(--progress-bg);
}

#hp-bar::-webkit-progress-value {
	background: var(--hp-bar-bg);
	border-radius: 15px;
}

#hp-bar::-moz-progress-bar {
	background: var(hp);
	border-radius: 15px;
}

#atk-bar::-webkit-progress-value {
	background: var(--atk-bar-bg);
	border-radius: 15px;
}

#atk-bar::-moz-progress-bar {
	background: var(--atk-bar-bg);
	border-radius: 15px;
}

#def-bar::-webkit-progress-value {
	background: var(--def-bar-bg);
	border-radius: 15px;
}

#def-bar::-moz-progress-bar {
	background: var(--def-bar-bg);
	border-radius: 15px;
}

#atkesp-bar::-webkit-progress-value {
	background: var(--atkesp-bar-bg);
	border-radius: 15px;
}

#atkesp-bar::-moz-progress-bar {
	background: var(--atkesp-bar-bg);
	border-radius: 15px;
}

#defesp-bar::-webkit-progress-value {
	background: var(--defesp-bar-bg);
	border-radius: 15px;
}

#defesp-bar::-moz-progress-bar {
	background: var(--defesp-bar-bg);
	border-radius: 15px;
}

#spd-bar::-webkit-progress-value {
	background: var(--spd-bar-bg);
	border-radius: 15px;
}

#spd-bar::-moz-progress-bar {
	background:var(--spd-bar-bg);
	border-radius: 15px;
}
/* centar part of the dex that joins both parts */
.center {
	height: 200px;
	width: 80px;
	position: absolute;
	top: 40%;
	left: 50%;
	z-index: -1;
}
/* types of pkmns  */
.normal {
	background-color: var(--normal-bg);
}

.fire {
	background-color: var(--fire-bg);
}

.water {
	background-color: var(--water-bg);
}

.electric {
	background-color: var(--electric-bg);
}

.grass {
	background-color: var(--grass-bg);
}

.ice {
	background-color: var(--ice-bg);
}

.fighting {
	background-color: var(--fighting-bg);
}

.poison {
	background-color: var(--poison-bg);
}

.ground {
	background-color: var(--ground-bg);
}

.flying {
	background-color: var(--flying-bg);
}

.psychic {
	background-color: var(--psychic-bg);
}

.bug {
	background-color: var(--bug-bg);
}

.rock {
	background-color: var(--rock-bg);
}

.ghost {
	background-color: var(--ghost-bg);
}

.dragon {
	background-color: var(--dragon-bg);
}

.dark {
	background-color: var(--dark-bg);
}

.steel {
	background-color: var(--steel-bg);
}

.fairy {
	background-color: var(--fairy-bg);
}
/* Animation for lights above */
@keyframes blink-red {
	0% {
		background-color: var(--light-one-bg);
	}
	50% {
		background-color: var(--light-one-blink);
		box-shadow: 0 0 10px var(--ligh-one-shadow);
	}
	100% {
		background-color: var(--light-one-bg);
	}
}
@keyframes blink-yellow {
	0% {
		background-color: var(--light-two-bg);
	}
	50% {
		background-color: var(--light-two-blink);
		box-shadow: 0 0 10px var(--light-two-shadow);
	}
	100% {
		background-color: var(--light-two-bg);
	}
}
@keyframes blink-green {
	0% {
		background-color: var(--light-three-bg);
	}
	50% {
		background-color: var(--light-three-blink);
		box-shadow: 0 0 10px var(--ligh-three-shadow);
	}
	100% {
		background-color: var(--light-three-bg);
	}
}

@media only screen and (max-width: 730px) {
	.msg {
		left: 0;
		font-size: .7rem;
		width: 100px;
	}
	.large {
		margin-top: 30px;
	}
	#error-msg {
		font-size: 1rem;
	}
	.shiny-btn{
		font-size: 1.5rem;
		top: -50px;
		right: -10px;	
		background-color: var(--bg-btns);
	}
	.shiny-btn:active{
		background-color: #3a3232;
		transform: translateY(4px);
		box-shadow: 0 2px 3px #00000080;
	}
	.lil {
		margin: 15px 10px;
	}
	.name-and-id {
		font-size: 1.2rem;
		gap: 30px;
	}
	.center {
		position: fixed;
		z-index: -1;
		height: 300px;
		width: 200px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
@media only screen and (max-width: 500px) and (max-height: 926px) {
	header h1 {
		font-size: 1.5rem;
	}
	.msg {
		top: 20%;
		right: 0;
	}
	.large {
		width: 300px;
		margin-top: 50px;
	}
	.img-container {
		width: 250px;
	}
	.img-display {
		width: 200px;
	}
	.shiny-btn{
		font-size: 1.2rem;
		top: 114%;
		right: 40%;	
	}
	.bottom-container {
		height: 120px;
	}
	form {
		gap: 1px;
		flex-wrap: wrap;
		padding: 5px;
	}
	#search-button {
		width: 40px;
		height: 40px;
		margin-bottom: 5px;
		margin-right: 40px;
	}
	#search-input {
		height: 30px;
		font-size: 0.8rem;
		margin-top: 10px;
		margin-bottom: 30px;
	}
}
